.env
**/__pycache__/
/__pycache__
/__pycache__/*
/venv
/.venv
/venv/pyvenv.cfg
/.idea
/src/storage
/src/storage/*
/storage
/storage/*
/storage/vector
/storage/vector/*
/storage/Uplodes
/storage/Uplodes/**
/storage/output_json_files
/storage/output_json_files/**
/z_notUsed
/.secrets
/.secrets/*
/.secrets/glvaiky.json
cuda-keyring_1.1-1_all.deb
nohup.out